<a href="https://colab.research.google.com/github/Msacacio21/python_study/blob/master/Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Basic concepts and commands

In [1]:
#Comentário de uma linha
print("Olá Mundo")

'''Comentário com mais de uma linha
linha2 '''
print('Olá Mundo')

Olá Mundo
Olá Mundo

In [2]:
#Operações matemáticas
print(2 + 2) #soma
print(2 - 2) #subtração
print(2 * 2) #multiplicação
print(2 ** 3) #exponenciação
print(10 % 3) #módulo(resto da divisão)
print(10 / 2) #divisão

4
0
4
8
1
5.0

In [3]:
#declaração e tipos de variáveis
v_str = 'valor'
v_int = 4
v_float = 1.2
v_bolean = True

print('variavel texto: ',v_str, '\nvariavel de numero inteiro: ', v_int, '\nvariavel de numero:',v_float,'\nvariavel boleana: ',v_bolean)

variavel texto:  valor
variavel de numero inteiro:  4
variavel de numero: 1.2
variavel boleana:  True

In [4]:
#Operadores relacionais
x = 2
y = 3

print(x == y) 
print(x != y)
print(x < y)
print(x > y)
print(x <= y)
print(x >= y)

False
True
True
False
True
False

In [5]:
#Operadores lógicos
z = 3
print(x == y and y == z) 
print(x == y or y == z) 
print(not(x == y and y == z)) #negação

False
True
True

In [6]:
#Estrutura condicional
if x > y:
  print('x maior que y')
else:
  print('x menor que y')

if x > y:
  print('x maior que y')
elif y == z:
  print('y é igual a z')
else:
  print('nenhuma condição atendida')

x menor que y
y é igual a z

In [7]:
#Estrutura de repetição
while x < 5:
  print(x)
  x += 1

2
3
4

In [8]:
lista = ['Olá','Mundo','!!!']
for i in lista:
  print(i)

Olá
Mundo
!!!

In [9]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

**Trabalhando com string**

In [10]:
#Trabalhando com string
a = 'Monique'
b = 'Ellen'
c = '\nTeste ..,,,,'

#concatenar
concat = a +' '+ b
print(concat)

#tamanho
print(len(concat))

#navegação
print(concat[2])
print(concat[0:7])

Monique Ellen
13
n
Monique

In [11]:
#MÉTODOS PARA STRING

#caixa baixa
print(concat.lower())

#caixa alta
print(concat.upper())

#remoção de espaços ou caracteres indesejados
print(c.strip()) #remove apenas os espaços
print(c.strip(",."))

#transforma uma string em lista
list_concat = concat.split()
print(list_concat)

#Busca por substring
print(concat.find("Ellen")) #retorna a posição de inicio da substring

#Substituir parte de uma string
print(concat.replace("Ellen", "Acacio"))

monique ellen
MONIQUE ELLEN
Teste ..,,,,

Teste
['Monique', 'Ellen']
8
Monique Acacio

**Funções**

In [12]:
#função =  bloco de código
def soma (x,y):
  return x + y

#chamada da função
soma(2,3)

5

**Manipulação de arquivo**

In [0]:
#função open - importação ou criação de um arquivo
'''
variavel = open(nome, modo)

onde, modo:
r = read (modo default)
w = write (caso o arquivo já exista o mesmo será apagado e um novo arquivo será criado)
a = read and write (cria o arquivo ou adiciona o conteúdo no fim do arquivo existente)

Upload um arquivo com o conteúdo abaixo:
Meu arquivo do texto
Olá Mundo
Esta é um arquivo de teste
'''
arquivo = open('/Meu arquivo do texto')
print(arquivo)

In [0]:
#adicionando o conteúdo do arquivo em  uma lista e exibindo 
linhas = arquivo.readlines()
for linha in linhas:
  print(linha)

arquivo.close() #fechando o arquivo

In [0]:
#criando um novo arquivo
texto = open('/texto.txt', 'w')
print(texto)

In [0]:
#adicionar conteúdo a um arquivo
texto.write('Adicionando conteúdo a um arquivo')
texto.close()

**Estrutura de dados**

In [16]:
#Listas

frutas = ['abacaxi','melancia','abacate']
print(frutas) #exibe a lista inteira

numeros = [1,2,3,4,5]
print(numeros[0]) #exibe o valor conforme indice informado

lista_mista = ['abacaxi',2,9.89,True]
for i in lista_mista:  #imprimi todos os itens da lista utilizando o a estrutura de repetição for
  print(i)

['abacaxi', 'melancia', 'abacate']
1
abacaxi
2
9.89
True

In [17]:
#verificar o tamanho de uma lista
print(len(lista_mista))

#adiciona novo item no final da lista
lista_mista.append('limão')

4

In [18]:
#verificar a existencia de um valor na lista
if 'limão' in lista_mista:
  print('limão esta na lista')

#remover itens da lista
del lista_mista[3:]
print(lista_mista)

del frutas[:] #remove todos os itens da lista
print(frutas)

limão esta na lista
['abacaxi', 2, 9.89]
[]

In [19]:
#ordenar lista
l = [142,5,6,841,23,1]
print(sorted(l)) #retorna a lista ordenada
print(l)

l.sort() #altera a lista colocando os itens de forma ordenada
print(l)

[1, 5, 6, 23, 142, 841]
[142, 5, 6, 841, 23, 1]
[1, 5, 6, 23, 142, 841]

In [20]:
#ordenar lista de forma reversa
l.sort(reverse=True)
print(l)

[841, 142, 23, 6, 5, 1]

In [28]:
#list comprehension
d = [1,2,3,4,5]
e = [i**2 for i in d]   #a lista será preenchida com o resultado da iteração
print (e)

z = [i for i in d if i%2==1] #o conteúdo será apenas os números primos presentes na lista d
print(z)

[1, 4, 9, 16, 25]
[1, 3, 5]

In [21]:
#DICIONÁRIO DE DADOS - chave e valor
pessoas = {'nome':'Monique','idade':29,'sexo':'Feminino','altura':1.61}

print(pessoas['nome']) #busca pela chave
print(pessoas)

Monique
{'nome': 'Monique', 'idade': 29, 'sexo': 'Feminino', 'altura': 1.61}

In [22]:
#navegar pelo dicionário
for pessoa in pessoas:
  print(pessoa,':', pessoas[pessoa])

nome : Monique
idade : 29
sexo : Feminino
altura : 1.61

In [23]:
#a função item transforma os dados do dicionário em um tupla
for pessoa in pessoas.items():
  print(pessoa)

('nome', 'Monique')
('idade', 29)
('sexo', 'Feminino')
('altura', 1.61)

In [24]:
#retorna apenas os valores do dicionário
for pessoa in pessoas.values():
  print(pessoa)

Monique
29
Feminino
1.61

In [25]:
#retornar apenas as chaves
pessoas.keys()

dict_keys(['nome', 'idade', 'sexo', 'altura'])

**FUNÇÃO ENUMERATE**

In [32]:
itens = ['abacate', 'bola', 'cachorro']

#enumera os itens da lista permitindo acessá-los
for i, nome in enumerate(itens):
  print(i, nome)

0 abacate
1 bola
2 cachorro

**FUNÇÃO MAP**

In [36]:
#replica uma função para vários elementos de uma lista
def dobro(x):
  return x*2
print(dobro(2))


valor = [1,2,3,4,5]
valor_dobrado = list(map(dobro, valor)) #o map cria um objeto do tipo map, sendo necessário usar o laço for para visualizar os dados. neste exemplo foi convertido para lista
print(valor_dobrado)

4
[2, 4, 6, 8, 10]

**FUNÇÃO REDUCE**

In [37]:
#Retorna um valor único para uma lista
from functools import reduce

def soma(x,y):
  return x+y

valores = [2,495,9,1]

print(reduce(soma, valores)) #neste exemplo a função soma esta sendo aplicada a todos itens da lista e como retorno apenas o valor total da soma de todos os itens

507

**FUNÇÃO ZIP**

In [43]:
#concatenação de listas
lista1 = [1,4,24,3]
lista2 = ['juntos','cachorro','familia','dinheiro']
lista3 = [True, 2.0, 'Texto', 'ok']

for num, nome, item in zip(lista1, lista2,lista3):  #neste exemplo temos num em lista1 e nome em lista2 e item na lista 3
  print(num, nome, item)

1 juntos True
4 cachorro 2.0
24 familia Texto
3 dinheiro ok

**RANDON**

In [0]:
import random #biblioteca para seleção aleatória

In [0]:
random.randint(0, 10) #gera um numero inteiro aleatório iniciando do zero até o 10

In [0]:
list=[6,20,40, 'monique']
random.choice(list) #seleciona aleatoriamente um valor de uma lista

**Tratamento de exceção**

In [0]:
x = 2
y = 0

try:
  print(x/y)

except:
  print('não é permitida divisão por zero')

print(x/x)

**Recebimento (input) de valores**

In [0]:
#string
texto = input('Digite um texto:')

#numeros
n_int = int(input('Digite um número inteiro: '))
n_float = float(input('Digite um número decimal: '))

print(texto, n_int, n_float)

**EXERCICIO**
1. Faça um programa que receba a idade do usuário e dia se ele é maior ou menor de idade.
2. Faça um programa que receba duas notas digitadas pelo usuário. Se a nota for maior ou igual a seis, escreva aprovado, senão escreva reprovado.
3. Escreva um programa que resolva uma equação de segundo grau
4. Escreva um programa que ordene uma lista numérica
5. Escreva um programa que receba dois números e um sinal, faça a operação matemática definida pelo sinal

In [0]:
#1
idade = int(input('Informe a sua idade: '))

if idade < 18:
  print('Você é menor de idade!')
else:
  print ('Você é maior de idade!')

In [0]:
#2
nota1 = float(input('Informe a primeira nota: '))
nota2 = float(input('Informe a segunda nota: '))

media = (nota1+nota2)/2

if media >= 6 :
  print('Aprovado')
else:
  print('Reprovado')

In [0]:
#3
from math import sqrt
def equacao(a,b,c):
  delta = b**2 - 4*a*c
  r_delta = sqrt(delta)
  if r_delta < 0:
    print('Delta negativo')
  else:
    x = (- b + r_delta) / 2*a 
  print('O resultado da equação de segundo grau é: ', x)

print('Informe os valores para cálculo da equação de segundo grau.')
a = int(input('informe o valor de a: '))
b = int(input('informe o valor de b: '))
c = int(input('informe o valor de c: '))
equacao(a,b,c)

In [0]:
#4
n1 = [float(input('primeiro número: ')),float(input('segundo número: ')),float(input('terceiro número: '))]
print('Valores digitados: ', n1)
print('Valores ordenados: ', sorted(n1))

In [0]:
#5
n1 = float(input('informe um número: '))
n2 = float(input('informe um número: '))
print('informe qual será a opeção matemática (digite o operador):')
print('+:soma, -:subtração, /:divisão, *:multiplicação')
opera = input()

if opera == '+':
  result = n1 + nota
elif opera == '-':
  result = n1 -n2
elif opera == '/':
  result = n1 / n2
elif opera == '*':
  result = n1 * n2
else:
  print('operação inválida')

print(result)